body {
    background-color: rgb(255, 255, 165);
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color:white;

}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 2px solid rgb(0, 0, 0);
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}